---
import ProductCard from "../components/ProductCard.astro";
import ProductsSection from "../components/ProductsSection.astro";
import Layout from "../layouts/Layout.astro";

const electroSaludSelection = [
  {
    name: "Balanza Digital",
    brand: "Silfab",
    image: "/assets/electrosalud-balanza-home.png",
    link: "https://wa.link/yh5y8a",
  },
  {
    name: "Tensiometro Digital",
    brand: "Omron",
    image: "/assets/electrosalud-omron-home.png",
    link: "https://wa.link/vymp1c",
  },
  {
    name: "Nebulizador Ultrasonico",
    brand: "Silfab",
    image: "/assets/electrosalud-nebulizador-home.png",
    link: "https://wa.link/pp5e75",
  },
  {
    name: "Oximetro de Pulso",
    brand: "Omron",
    image: "/assets/electrosalud-oximetroicare-home.png",
    link: "https://wa.link/rns253",
  },
];

const starredProducts = [
  {
    name: "Leche Infantil Polvo",
    brand: "Nutrilon",
    image: "./assets/nutrilon2Lata.png",
    link: "https://wa.link/lswkym",
  },
  {
    name: "Pañales Ultrasec",
    brand: "Babysec",
    image: "./assets/babysec-ultrasec-destacado.png",
    link: "https://wa.link/jfvs1o",
  },
  {
    name: "Hidratante Facial en Gel",
    brand: "Neutrogena",
    image: "./assets/neutrogenaDest.png",
    link: "https://wa.link/50muv6",
  },
  {
    name: "Suplemento Dietario",
    brand: "Curflex",
    image: "./assets/curflexComún.png",
    link: "https://wa.link/p0a9fb",
  },
];
---

<Layout title="Inicio | Farmaplus">
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="3"
        aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="/productos"
          ><img
            src="/assets/TiendaFarmaplus_30OFF_Banner_Web.jpg"
            class="d-block w-100"
            alt="banner-30off-productos"
          /></a
        >
      </div>
      <div class="carousel-item">
        <a href="https://wa.link/r12rwe" target="_blank"
          ><img
            src="/assets/TiendaFarmaplus_BannerColgate_Web.jpg"
            class="d-block w-100"
            alt="banner-colgate-productos"
          /></a
        >
      </div>
      <div class="carousel-item">
        <a href="https://wa.link/vdqz8g" target="_blank"
          ><img
            src="/assets/TiendaFarmaplus_BannerAxe_Web_25OFF.jpg"
            class="d-block w-100"
            alt="banner-axe-25off-productos"
          /></a
        >
      </div>
      <div class="carousel-item">
        <a href="/productos"
          ><img
            src="/assets/TiendaFarmaplus_Banner_Web_Lulemuu.jpg"
            class="d-block w-100"
            alt="banner-lulemuu-productos"
          /></a
        >
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- categorias -->
  <main class="contenedorHome">
    <section
      class="flex flex-col mx-auto lg:flex-row justify-center items-center gap-4 py-12"
    >
      <img
        class="size-10 lg:size-14"
        src="/assets/TiendaFarmaplus_isologotipo_color.png"
        alt="logotipo-farmaplus"
      />
      <h1 class="text-center text-pretty text-lg lg:text-3xl">
        En Farmaplus garantizamos el mejor espacio de salud <br
          class="hidden lg:block"
        /> y bienestar para vos y tu familia.
      </h1>
    </section>

    <div class="container mx-auto lg:max-w-7xl space-y-4">
      <h2 class="my-4 text-3xl font-semibold">Categorías</h2>

      <div class="grid grid-cols-2 gap-2 lg:grid-cols-5 lg:gap-2">
        <a href="/salud" class="w-full">
          <img
            class="img-categoria w-full object-contain"
            src="/assets/FarmaPlus_categoria-recetas-copia.png"
            alt="icono-categoría-receta"
          />
        </a>
        <a href="/productos" class="w-full">
          <img
            class="img-categoria w-full object-contain"
            src="/assets/FarmaPlus_categoria-pañales-copia.png"
            alt="icono-categoría-pañalera"
          />
        </a>
        <a href="/productos" class="w-full">
          <img
            class="img-categoria w-full object-contain"
            src="/assets/FarmaPlus_categoria-leches-copia.png"
            alt="icono-categoría-leches-maternizadas"
          />
        </a>
        <a href="/productos" class="w-full">
          <img
            class="img-categoria w-full object-contain"
            src="/assets/FarmaPlus_categoria-ortopedia-copia.png"
            alt="icono-categoría-ortopedia"
          />
        </a>
        <a href="/productos" class="w-full">
          <img
            class="img-categoria w-full object-contain"
            src="/assets/FarmaPlus_categoria-dietética-copia.png"
            alt="icono-categoría-dietética"
          />
        </a>
        <a href="/productos" class="w-full">
          <img
            class="img-categoria w-full object-contain"
            src="/assets/FarmaPlus_categoria-dermatologia-copia.png"
            alt="icono-categoría-dermocosmética"
          />
        </a>
        <a href="/productos" class="w-full">
          <img
            class="img-categoria w-full object-contain"
            src="/assets/FarmaPlus_categoria-suplementos-copia.png"
            alt="icono-categoría-suplementos"
          />
        </a>
        <a href="/convenios" class="w-full">
          <img
            class="img-categoria w-full object-contain"
            src="/assets/FarmaPlus_categoria-convenios-copia.png"
            alt="icono-categoría-convenios"
          />
        </a>
        <a href="/productos" class="w-full">
          <img
            class="img-categoria w-full object-contain"
            src="/assets/FarmaPlus_categoria-promociones-copia.png"
            alt="icono-categoría-promociones"
          />
        </a>
      </div>
    </div>
    <!-- inicio banner dermocosmetica -->
    <div class="container lg:max-w-7xl my-16">
      <a href="/productos"
        ><img
          class="img-fluid"
          src="/assets/TiendaFarmaplus_BannerDermo.png"
          alt="banner-dermocosmetica-productos"
        /></a
      >
    </div>
    <!-- inicio salud electronica -->
    <ProductsSection title="Nuestra seleccion en Electro Salud">
      {
        electroSaludSelection.map((e) => (
          <ProductCard
            name={e.name}
            image={e.image}
            link={e.link}
            brand={e.brand}
          />
        ))
      }
    </ProductsSection>

    <!-- fin salud electronica -->
    <!-- fin banner dermocosmetica -->
    <div
      class="grid grid-cols-1 grid-rows-3 md:grid-cols-6 md:grid-rows-2 lg:grid-cols-6 lg:grid-rows-2 gap-4 container mx-auto my-8 max-w-7xl"
    >
      <div
        class="p-4 rounded-xl bg-piel md:col-span-2 flex flex-col justify-between md:row-span-2 lg:col-span-2 lg:row-span-2"
      >
        <div>
          <h3 class="font-semibold text-xl mb-2">Salud y Farmacia</h3>
          <p>
            En farmaplus tenemos la mayor variedad de productos para cuidar tu
            salud con el asesoramiento profesional que nos caracteriza.
            Encontraras los medicamentos recetados por tu médico de confianza,
            con la cobertura de tu seguro de salud y también las mejores
            opciones en el caso que no cuentes con él. <br />
          </p>
          <br />
          <p>
            Nuestra línea exclusiva de alimentos saludables sin TACC te ayudarán
            en tu rutina alimentaria.
          </p>
        </div>
        <div class="aSalud mt-8 self-start">
          <a
            href="/salud"
            class="border border-[#3671b1] rounded-lg p-2 text-[#3671b1]"
            >Más información</a
          >
        </div>
      </div>

      <div
        class="p-4 rounded-xl bg-piel md:col-span-4 md:row-span-1 lg:col-span-4 lg:row-span-1"
      >
        <h3 class="font-semibold text-xl mb-2">Envianos tu Receta</h3>
        <p>
          Con este sistema nos adaptamos a los nuevos requerimientos de la
          Receta Electrónica. Simplemente a través de nuestro WhatsApp podés
          enviarnos tu receta para recibir asesoramiento, generar tu pedido y
          consultarnos su cobertura, costos y elegir la sucursal más cercana a
          tu domicilio para el retiro de tus medicamentos.
        </p>
        <div class="aSalud mt-8">
          <a
            href="/salud"
            class="border border-[#3671b1] rounded-lg p-2 text-[#3671b1]"
            >Contactanos</a
          >
        </div>
      </div>

      <div
        class="p-4 rounded-xl bg-piel md:col-span-4 md:row-span-1 lg:col-span-4 lg:row-span-1"
      >
        <h3 class="font-semibold text-xl mb-2">Plantillas Computarizadas</h3>
        <p>
          El primer sábado de cada mes tenemos la visita de nuestro especialista
          en Plantillas Computarizadas. A través de un escaneo de tus pies podés
          mejorar la calidad de tu pisada y así terminar con dolores plantares,
          espalda y de cabeza que causan un mal andar. En el caso de los más
          chiquitos cuando nos cuentan que sufren de dolor en los pies, un
          escaneo de su pisada podría corregir ese problema si lo realizamos en
          el momento adecuado.
        </p>
        <div class="aSalud mt-8">
          <a
            href="/salud"
            class="border border-[#3671b1] rounded-lg p-2 text-[#3671b1]"
            >Más información</a
          >
        </div>
      </div>
    </div>
    <!-- banner accesorios -->
    <div class="container lg:max-w-7xl my-16">
      <a href="https://wa.link/i9s6pv" target="_blank"
        ><img
          class="img-fluid"
          src="/assets/TiendaFarmaplus_BannerAccesoriosHome.png"
          alt="banner-accesorios"
        /></a
      >
    </div>
    <!-- fin banner accesorios -->
    <!-- destacados -->

    <ProductsSection title="Productos Destacados">
      {
        starredProducts.map((e) => (
          <ProductCard
            name={e.name}
            image={e.image}
            link={e.link}
            brand={e.brand}
          />
        ))
      }
    </ProductsSection>
  </main>
</Layout>
